.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    transition: all 0.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }

/* 
  imports the mixins and variables from our partials _config.scss files
  all partial files start with an underscore (_)
*/
* {
  box-sizing: border-box; }

body {
  background: #444;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; }
  body#bg-img {
    background: url(../img/mbp.jpg);
    background-attachment: fixed;
    background-size: cover; }
    body#bg-img:after {
      /* 
          the :after creates a pseudo element that is the last child of the selected element.
          so we create a div right after the element with an id of bg-img and append it as a child.
          :after pseudo elements must have a content property and :after is inline by default
        */
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: rgba(68, 68, 68, 0.5);
      z-index: -1; }

h1, h2, h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading, h2.lg-heading, h3.lg-heading {
    font-size: 6rem; }
  h1.sm-heading, h2.sm-heading, h3.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 0.1rem;
    background: rbga(#494949, 0.5); }

a {
  color: #fff;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-secondary {
  color: #eece1a; }

main {
  padding: 4rem;
  height: 100%; }
  main#home {
    overflow: hidden; }
    main#home h1 {
      margin-top: 20vh;
      /* 
        vh is a unit that stands for viewport height. Think of the height as 100 slices across, 
        so if you say 20vh, it will take 20 of those slices. If you said 100vh it will take up all of the slices.
        50vh will take up half the 100 slices.
      */ }
  main .icons {
    margin-top: 1rem; }
    main .icons a {
      padding: 0.4rem; }
      main .icons a:hover {
        color: #eece1a;
        transition: all 0.5s ease-out; }
