$primary-color: #282c34; // #eec9d2; <-- pink
$secondary-color: #d88b9d; // #6497b1; // default #eece1a
$show-home-image: true;
$home-image: url(../img/mbp.jpg); //need image
$background-opactiy: 0.5;

@mixin eastOut {
  transition: all 0.5s ease-out; //transition in CSS is just the time it takes to do something (in this case, we're defining the item it takes for the color to be our secondary color when our mouse hovers over the icons
}

@mixin background {
  @if $show-home-image {
    &#bg-img {
      // background: $home-image;
      background-attachment: fixed;
      background-size: cover;

      &:after {
        /* 
          the :after creates a pseudo element that is the last child of the selected element.
          so we create a div right after the element with an id of bg-img and append it as a child.
          :after pseudo elements must have a content property and :after is inline by default
        */
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba($primary-color, $background-opactiy);
        z-index: -1;
      }
    }
  }
}
// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return #fff;
  }
}

// Media Query Mixins
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    // any CSS applied within this media query will only apply if its width is 500px or less
    @content; //@contents allows it to be bring in the SCSS we write in another file when we call the mixins name
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    // any CSS applied within this media query will only apply if its width is 768px or less
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    // any CSS applied within this media query will only apply if its width is between 769px and 1170px
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    // any CSS applied within this media query will only apply if its width is over 1170px
    @content;
  }
}
