// Widescreens
@include mediaXl {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

// Desktops & Laptops
@include mediaLg {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

// Tables & Small Laptops
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-block: 1rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: url(../img/headshotsm.png); //need a smaller pic compared to the desktop version
      width: 150px;
      height: 150px;
    }
  }
  .about-info {
    display: grid;
    grid-template-areas:
      "bioimage"
      "bio"
      "job1"
      "job2"
      "job3";
    grid-template-columns: 1fr;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

// Smartphones
@include mediaSm {
  main {
    padding: 2rem;
    #home h1 {
      margin-top: 10vh;
    }
  }

  .lg-heading {
    margin-top: 1rem;
    font-size: 5rem;
  }

  .projects {
    grid-template-columns: 1fr;
  }

  .boxes {
    div {
      font-size: 2rem;
      border: 3px #fff solid;
      padding: 1rem 2rem;
      margin-bottom: 3rem;
      @include eastOut;

      &:hover {
        padding: 0.25rem 1rem;
        background: $secondary-color;
        color: set-text-color($secondary-color);
        span {
          color: set-text-color($secondary-color);
        }
      }
    }
  }
}
